.h-image {
    background-image: url("../../../-/media/assets/worldcourier/english/images/homepage/homepage-image-300120-v2.png") !important;
}

.o-headers {
    background-image: url("../../../-/media/assets/worldcourier/english/images/homepage/stethoscopelayingtable1116010bw.jpeg") !important;
}

.dp-image {
    background-image: url("../../../-/media/assets/worldcourier/english/images/homepage/doctor-with-patient.jpg") !important;
}

.loading-cart {
    background-image: url("../../../-/media/assets/worldcourier/english/images/homepage/loadingcart-bw.jpeg") !important;
}

._dsc9658 {
    background-image: url("../../../-/media/assets/worldcourier/english/images/homepage/_dsc9658-2-bw.jpeg") !important;
}

.scgt {
    background-image: url("../../../-/media/assets/worldcourier/english/images/homepage/lab_bw.jpg") !important;
}

.wct {
    background-image: url("../../../-/media/assets/worldcourier/english/images/homepage/world-courier_truck-location_ny_115-bw.jpeg") !important;
}

.scgt-b {
    background-image: url("../../../-/media/assets/worldcourier/english/images/homepage/mexico-depot-box.jpg") !important;
}

.truck-2 {
    background-image: url("../../../-/media/assets/worldcourier/english/images/homepage/truck-2-bw.jpeg") !important;
}

.shutterstock {
    background-image: url("../../../-/media/assets/worldcourier/english/images/homepage/shutterstock_326878499-lr.jpg") !important;
}

.delivery-bw {
    background-image: url("../../../-/media/assets/worldcourier/english/images/homepage/delivery-bw_2.png") !important;
}

.about-bg {
    background-image: url("../../../-/media/assets/worldcourier/english/images/homepage/bg.jpg") !important;
}
